@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #ffd700;
}

body{
    position: relative;
    background: #000000;
    font-family: "Roboto", sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
}

.logo{
    /* font-family: "Great Vibes", cursive; */
    font-family: "Bodoni Moda SC", serif;
    font-size: 3em;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
}

.nav{
    display: flex;
}

.nav li{
    position: relative;
    list-style: none;
    margin: 0 20px;
}

.nav li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
}

.nav li .nav-btn::after{
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: var(--primary);
    transition: 0.5s;
}

.nav li .nav-btn:hover::after{
    width: 50%;
}

.nav li .nav-btn:hover{
    color: var(--primary);
}

.nav .nav-btn.active{
    color: var(--primary);
}

.nav .nav-btn.active::after{
    width: 50%;
}

.bag{
    position: relative;
    color: #ffffff;
    font-size: 1.8rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bag .number{
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #000000;
    font-size: 0.5em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: none;
    position: relative;
    transition: 0.5s;
}

.menu ion-icon{
    color: #ffffff;
    font-size: 1.8em;
}

.menu.active{
    transform: rotateZ(45deg);
}

.nav-mobile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 990;
    gap: 20px;
}

.nav-mobile.active{
    opacity: 1;
    visibility: visible;
}

.nav-mobile li{
    position: relative;
    list-style: none;
}

.nav-mobile li a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 300;
    padding: 10px;
}

.nav-mobile li::before{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    height: 2px;
    width: 50%;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.nav-mobile li:hover::before{
    opacity: 1;
    visibility: visible;
}

.banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
    padding:0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    background: #111111;
    perspective: 1000px;
    transform-style: preserve-3d;
    z-index: 800;
}

.banner::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bg.png')no-repeat;
    background-size: cover;
    background-position: center;
}

.banner .content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .content h1{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 8em;
    line-height: 1em;
}

.banner .content h4{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 3.5em;
    line-height: 1em;
}

.banner .content p{
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.content-btn{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 25px;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    width: 200px;
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #fedb37 0%,
        #fdb931 0%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
    ),
    radial-gradient(
        ellipse farthest-corner at left top,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 63.5%,
        #5d4a1f 100%
    );
}
.content-btn:hover{
    background: radial-gradient(
        ellipse farthest-corner at left top,
        #fedb37 0%,
        #fdb931 0%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
    ),
    radial-gradient(
        ellipse farthest-corner at right bottom,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 63.5%,
        #5d4a1f 100%
    );
}


#drag-container,
#spin-container{
    position: relative;
    display: flex;
    margin: auto;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
}

#drag-container img{
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* line-height: 200px; */
    box-shadow: 0 0 #ffffff;
    --webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent,#0005);
    cursor: pointer;
}


#drag-container img:hover{
    box-shadow: 0 0 15px #fffd;
    --webkit-box-reflect: below 18px
    linear-gradient(transparent, transparent,#0007);
}

#drag-container h1{
    font-size: 5em;
    color: #ffffff;
    line-height: 1em;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
}

#ground{
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);

}


@keyframes spin{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes spinRevert{
    from{
        transform: rotateY(360deg);
    }
    to{
        transform: rotateY(0deg);
}
}

main{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

section{
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 150px 100px 50px 100px;
    background: #111111;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    z-index: 900;
    overflow-y: auto;
    color: #ffffff;
}

section::-webkit-scrollbar{
    width: 0 !important;
}

section.active{
    left: 0;
    height: auto;
    min-height: 100vh;
    transition: 1s;
}

section::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
}

section h1{
    font-size: 3em;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    color: #ffffff;
}

section h4{
    font-size: 2em;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    color: var(--primary);
    text-shadow: 0 0 20px var(--primary);
}

select p{
    color: #dddddd;
}

section .section-content{
    position: relative;
    z-index: 900;
}

section .content-btn{
    width: 150px;
    float: right;
    padding: 5px 20px;
}


.exhibition{
    background: url(../images/asian-palace.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
}

.exhibition-title{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.exhibition-title h1{
    color: rgba(255,255,255,0.4);
    letter-spacing: 5px;
    font-size: 10em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.exhibition p{
    font-size: 0.8em;
    line-height: 1em;
    letter-spacing: 1px;
    font-weight: 200;
    color: #ffffff;
}

.exhibition .price{
    float: left ;
}



.collection{
    background: url('../images/bg-2.jpeg')no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
}


.collection .collection-title{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.collection .collection-title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 9em;
    margin-left: 50px;
    text-transform: uppercase;
}

.collection .collection-title::before{
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60vh;
    width: 25px;
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #fedb37 0%,
        #fdb931 0%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
    ),
    radial-gradient(
        ellipse farthest-corner at left top,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 63.5%,
        #5d4a1f 100%
    ); 
}



.collection .arts-item{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}

.collection h3{
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 2px;
}

.collection .artsSwiper{
    overflow-y: visible;
}

.collection .artsSwiper::before{
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 55vh;
    width: 60%;
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #fedb37 0%,
        #fdb931 0%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
    ),
    radial-gradient(
        ellipse farthest-corner at left top,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 63.5%,
        #5d4a1f 100%
    ); 
}

.collection .img-box{
    position: relative;
}

.collection .arts-item .arts-img{
    position: relative;
    max-height: 45vh !important;
    margin-right: 20px;
    cursor: grab;
}

.collection .arts-item .arts-frame{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    max-height: 45vh;
    transform: scale(1.02);
}

.collection .arts-description p{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 200px;
}

.events img{
    width: 100%;
    transition: 0.5s;
}

.events img:hover{
    box-shadow: 0 0 30px rgba(214,215,216,0.6);
}

.shop{
    background: url('../images/shop-bg.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.shop .portfolio-item{
    margin-top:30px
}

.shop #portfolio-filters{
    padding: 0;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}


.shop #portfolio-filters li{
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(255,255,255,0.1);
    margin: 0 3px 18px 3px;
    transition: 0.3s;
}

.shop #portfolio-filters li:hover,
.shop #portfolio-filters li.filter-active{
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #fedb37 0%,
        #fdb931 0%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
    ),
    radial-gradient(
        ellipse farthest-corner at left top,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 63.5%,
        #5d4a1f 100%
    ); 
}


.shop .portfolio-wrap{
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(0,0,0,0.4);
}

.shop .portfolio-wrap::before{
    position: absolute;
    content: '';
    background: rgba(0,0,0,0.6);
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: 0.3s;
    z-index: 2;
    opacity: 0;
}

.shop .portfolio-wrap .portfolio-info{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop .portfolio-wrap .portfolio-info::before{
    display: block;
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    top: 35px;
    left: 35px;
    border-top: 3px solid var(--primary);
    border-left: 3px solid var(--primary);
    transition: 0.5s ease;
    z-index: 9999;
}

.shop .portfolio-wrap .portfolio-info::after{
    display: block;
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid var(--primary);
    border-right: 3px solid var(--primary);
    transition: 0.5s ease;
    z-index: 9999;
}

.portfolio-info h4{
    font-size: 2em;
    color: var(--primary);
    font-weight: 600;
}

.portfolio-info p{
    font-size: 1.2em;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0;
}

.portfolio-links{
    text-align: center;
    z-index: 4;
}

.portfolio-links a{
    color: #ffffff;
    margin: 0 2px;
    font-size: 3em;
    display: inline-block;
    transition: 0.3s;
}

.portfolio-links a:hover{
    color: var(--primary);
}

.shop .portfolio-wrap:hover::before{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.shop .portfolio-wrap:hover .portfolio-info{
    opacity: 1;
}

.shop .portfolio-wrap:hover .portfolio-info::before{
    top: 15px;
    left: 15px;
}

.shop .portfolio-wrap:hover .portfolio-info::after{
    bottom: 15px;
    right: 15px;
}


#itemModal, .modal{
    width: 100%;
    background: transparent !important;
    backdrop-filter: blur(20px) !important;
    --bs-modal-bg: transparent
}

.modal-header{
    border-bottom: 1px solid var(--primary);
}

.modal-footer{
    border-top: 1px solid var(--primary);
}

.modal-header .modal-title{
    /* font-family: 'Great Vibes', cursive; */
    font-family: "Bodoni Moda SC", serif;
    color: #ffffff;
    font-size: 2em !important;
    letter-spacing: 2px !important;
}


.modal-close-btn{
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #fedb37 0%,
        #fdb931 0%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
    ),
    radial-gradient(
        ellipse farthest-corner at left top,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 63.5%,
        #5d4a1f 100%
    ); 
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 25px;
    border: none;
    cursor: pointer;
}

.contact{
    position: relative;
    margin-top: 35px;
}

.contact .info-box{
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 30px rgba(214,215,216,0.6);
    padding: 20px 0 30px 0;
}

.contact .info-box ion-icon{
    font-size: 32px;
    color: var(--primary);
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted var(--primary);
}

.contact .info-box h3{
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin: 10px 0;
}

.contact .img-box p{
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .contact-form{
    box-shadow: 0 0 30px rgba(214,215,216,0.6);
    padding: 30px;
}

.contact .contact-form input,
.contact .contact-form textarea{
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .contact-form input{
    padding: 10px 15px;
}

.contact .contact-form textarea{
    padding: 12px 15px;
    margin-bottom: 30px;
}

.contact .contact-form button[type='submit']{
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #fedb37 0%,
        #fdb931 0%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
    ),
    radial-gradient(
        ellipse farthest-corner at left top,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 63.5%,
        #5d4a1f 100%
    ); 
    bottom: 0;
    padding: 10px 24px;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.4s;
}

.sci{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.sci li{
    list-style: none;
}

.sci li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8em;
    transition: 0.3s;
}

.sci li a:hover{
    color: var(--primary);
}


/* @media (max-width: 768px){
    header{
        padding: 30px;
    }
    .nav{
        display: none;
    }
    .menu{
        display: block;
    }
    .banner{
        padding: 120px 30px;
    }
    .banner .content h1{
        color: #ffffff;
        text-transform: uppercase;
        font-size: 3em;
        line-height: 1em;
    }
    .banner .content h4{
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1.5em;
        line-height: 1em;
    }
    #drag-container h1{
        font-size: 2em;
    }
    main{
        overflow-y: visible;
    }
    section{
        padding: 150px 30px 50px;
    }
    .collection .collection-title{
        display: none;
    }
    .collection h3{
        color: #ffffff;
        font-weight: 300;
        font-size: 1em;
        letter-spacing: 1px;
    }
    .collection .img-box{
        margin-right: 20px;
    }
    .collection .arts-description{
        margin-top: 100px;
    }
    .collection .arts-description p{
        margin-top: 10px;
    }
    .contact{
        margin-top: 50px;
    }
} */